.top {
    padding: 40px;
}

.asia {
    display: flex;
    gap: 55px;
    margin-left: 15px;
}

.card-lists .card-items {
    width: 190px;
    padding: 35px;
    border: 1px solid rgba(225, 225, 225, 0.5);
    margin: 2px;
}

.card-lists .card-items img {
    width: 175px;
    height: 220px;
    border-radius: 11%;
}

.btns {
    font-size: 23px;
    padding: 10px;
    background-color: #ffd700;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 650px;
    margin-top: 30px;

}

.btns:hover {
    background-color: black;
    color: aliceblue;
}
.loc{
    font-size: 25px;
}
.tax{
    font-size: 15px;
    font-weight: bold;
}