.herosec{
    display: flex;
    justify-content: space-between;
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 10px;
}

.text{
    font-size: 24px;
}

.card__conatainer{
    display:flex;
    width: 100%;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

.card__icon{
    position: relative;
    font-size: 22px;
    z-index: 12;
}

.cardWrapepr{
    width: 90vw;
    overflow-x: hidden;
}
.head{
    font-size: 40px;
    padding-left: 45px;
}

.dataimg{
    display:flex;

}
.section__Right{
    flex: 1;
    width: 30vw;
}

.section__left{
    display: grid;
    grid: repeat(3,1fr);
}
